@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico.ttf");
}

body {
  padding-top: 70px;
  padding-bottom: 15px;
}

@media (min-width: 552px) {
  .post a.btn {
    width: 500px!important;
    font-size: 24px!important;
  }
}

.post a.btn {
  width: 100%;
  font-size: 16px;
}

@media (min-width: 768px) {
  .container-small {
    width: 600px;
  }
  .container-large {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 600px;
  }
  .container-large {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 800px;
  }
  .container-large {
    width: 1500px;
  }
}

.hidden {
  display: none;
}

.container-small, .container-large {
  max-width: 100%;
}

.navbar-inverse {
  border-radius: 0px!important;
}

.navbar-inverse .navbar-brand {
  font-family: Pacifico;
  font-size: 24px;
}

.badge-info {
  background-color: #3a87ad;
}

.thumbnail {
  border: none;
}

.thumbnail img {
  border: 1px solid #f0f0f0;
  width: 500px;
  height: auto;
}

.post {
  text-align: center;
}

.post .btn {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
